html,
body,
.content {
  height: 100%;
}

.content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.navbar-cbb {
  z-index: 2;
}

.alert {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 1;
}

.form-cbb,
.card-cbb {
  width: 100%;
  padding: 15px;
  margin: auto;
}

.form-cbb {
  max-width: 330px;
}

.card-cbb {
  max-width: 720px;
}

.form-cbb .checkbox {
  font-weight: 400;
}

.form-cbb .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-cbb .form-control:focus {
  z-index: 2;
}

.form-cbb .form-control-start {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-cbb .form-control-nth {
  margin-top: -1px;
  margin-bottom: -1px;
  border-radius: 0;
}

.form-cbb .form-control-end {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-links ul {
  padding: 0;
}

.form-links li {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.btn-facebook {
  color: #fff !important;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.btn-social:hover {
  color: #eee;
}

.btn-social :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  padding: 7px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}